.box {
  min-height: 700px;
}
.balance_button {
  position: absolute;
  top: 648px;
  left: 10px;
  padding: 4px;
  color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 12px;
}
.close_but,
.balance_button:hover {
  cursor: pointer;
}
.no_data {
  margin-top: 40px;
  text-align: center;
  color: #909090;
}
.modal_mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_mask .modal {
  background: #fff;
  min-width: 368px;
  min-height: 256px;
}
.modal_mask .modal .title_wraper {
  padding-left: 16px;
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 500;
  line-height: 40px;
  background: #f1f3f6;
  position: relative;
}
.modal_mask .modal .table_wraper {
  display: flex;
  border: 1px solid #dadada;
  color: #3e3e3e;
  font-size: 14px;
  justify-content: center;
}
.modal_mask .modal .table_wraper .column_item {
  display: flex;
  flex-direction: column;
}
.modal_mask .modal .table_wraper .item {
  height: 32px;
  padding: 12px;
  border-bottom: solid 1px #ececec;
  line-height: 32px;
  text-align: center;
}
.modal_mask .modal .table_wraper .title {
  color: #9e9e9e;
  font-size: 12px;
}
.modal_mask .modal .table_wraper .top {
  height: 18px;
  line-height: 18px;
}
.modal_mask .modal .close_but {
  padding: 6px;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 32px;
  position: absolute;
  right: 4px;
  line-height: 24px;
}
